name: Build Nightlies
 
on:
    push:
        branches:
            - 'master'
            - 'actions'
        tags-ignore:
            - '**'
    pull_request:
        paths-ignore:
            - 'docs/*'
            - '*.yml'
            - '*.md'
            - 'LICENSE'

    schedule:
        - cron: '46 20 * * *'

    workflow_dispatch:

concurrency: 
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    build:
        runs-on: ${{ 
            (matrix.os == 'linux' && matrix.webkit == '40')     && 'ubuntu-22.04'   || 
            (matrix.os == 'macos' && matrix.arch == 'arm64')    && 'macos-latest'   || 
            (matrix.os == 'macos')                              && 'macOS-15-intel' || 
            (matrix.os == 'windows')                            && 'windows-latest' || 
                                                                   'ubuntu-latest'  }}
        strategy:
            matrix:
                include: 
                    - {os: linux,   arch: amd64, mode: full}
                    - {os: linux,   arch: amd64, mode: safe}
                    - {os: linux,   arch: amd64, mode: mini}
                    - {os: linux,   arch: arm64, mode: mini}
                    - {os: macos,   arch: amd64, mode: full}
                    - {os: macos,   arch: amd64, mode: mini}
                    - {os: macos,   arch: arm64, mode: full}
                    - {os: macos,   arch: arm64, mode: mini}
                    - {os: windows, arch: amd64, mode: full}
                    - {os: windows, arch: amd64, mode: mini}
                    - {os: web}

        defaults:
            run:
                shell: ${{ 
                    (matrix.os == 'windows') && 'msys2 {0}' || 
                                                'bash'      }}

        steps:
            - name: Get current date
              run: echo $(date -u "+%F") >> currentDate
              shell: bash
    
            - name: Read date
              uses: pCYSl5EDgo/cat@master
              id: currentDate
              with:
                path: currentDate
                trim: true

            - name: Install Arturo
              uses: arturo-lang/arturo-action@main
              with: 
                token: ${{ secrets.GITHUB_TOKEN }}
                os: ${{ matrix.os }}
                arch: ${{ matrix.arch }}
                mode: ${{ matrix.mode }}
                metadata: nightly.${{ steps.currentDate.outputs.text }}
                create_artifact: 'true'
                artifact_version: nightly.${{ steps.currentDate.outputs.text }}
    
    release:
        name: Release
        runs-on: ubuntu-latest
        if: (github.event_name == 'schedule') || (github.event_name == 'workflow_dispatch')
        needs:
            - build
        steps:
            - uses: actions/checkout@v4
            
            - name: Get current date
              run: echo $(date -u "+%F") >> currentDate
              shell: bash
    
            - name: Read date
              uses: pCYSl5EDgo/cat@master
              id: currentDate
              with:
                path: currentDate
                trim: true
            
            - name: Download existing artifacts
              uses: dawidd6/action-download-artifact@v6
              with:
                github_token: ${{ secrets.GITHUB_TOKEN }}
                skip_unpack: true
                path: ./assets
  
            - name: Debug environment
              run: |
                ls -laR ./assets
              shell: bash

            - name: Upload release assets
              run: |
                DESC=""
                gh release create "${{ steps.currentDate.outputs.text }}" $DESC ./assets/*
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              shell: bash