name: Nightly
 
on:
    push:
        branches:
            - 'master'
            - 'actions'
        tags-ignore:
            - '**'
    pull_request:
        paths-ignore:
            - 'docs/*'
            - '*.yml'
            - '*.md'
            - 'LICENSE'

    schedule:
        - cron: '46 20 * * *'

    workflow_dispatch:

concurrency: 
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    Prepare:
        runs-on: ubuntu-latest
        outputs:
            date: ${{ steps.get-date.outputs.date }}
        steps:
            - name: Get current date
              id: get-date
              run: echo "date=$(date -u '+%Y%m%d')" >> $GITHUB_OUTPUT

    Build:
        needs: Prepare
        runs-on: ${{ 
            (matrix.os == 'linux')   && (matrix.webkit == '40' && (matrix.arch == 'arm64' && 'ubuntu-22.04-arm' || 'ubuntu-22.04') || matrix.arch == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest') ||
            (matrix.os == 'macos')   && (matrix.arch == 'arm64' && 'macos-latest' || 'macOS-15-intel') ||
            (matrix.os == 'windows') && 'windows-latest' || 
                                        'ubuntu-latest'  }}
                                                                   
        strategy:
            matrix:
                include: 
                    - {os: linux,   arch: amd64, mode: full}
                    - {os: linux,   arch: amd64, mode: full, webkit: "40"}
                    - {os: linux,   arch: amd64, mode: safe}
                    - {os: linux,   arch: amd64, mode: mini}
                    - {os: linux,   arch: arm64, mode: full}
                    - {os: linux,   arch: arm64, mode: full, webkit: "40"}
                    - {os: linux,   arch: arm64, mode: mini}
                    - {os: freebsd, arch: amd64, mode: full}
                    - {os: freebsd, arch: amd64, mode: mini}
                    - {os: macos,   arch: amd64, mode: full}
                    - {os: macos,   arch: amd64, mode: mini}
                    - {os: macos,   arch: arm64, mode: full}
                    - {os: macos,   arch: arm64, mode: mini}
                    - {os: windows, arch: amd64, mode: full}
                    - {os: windows, arch: amd64, mode: mini}
                    - {os: web}
 
        defaults:
            run:
                shell: ${{ 
                    (matrix.os == 'freebsd') && 'freebsd {0}' ||
                    (matrix.os == 'windows') && 'msys2 {0}'   || 
                                                'bash'        }}

        steps:
            - name: Install Arturo
              uses: arturo-lang/arturo-action@main
              with: 
                token: ${{ secrets.GITHUB_TOKEN }}
                os: ${{ matrix.os }}
                arch: ${{ matrix.arch }}
                mode: ${{ matrix.mode }}
                metadata: nightly.${{ needs.Prepare.outputs.date }}
                create_artifact: 'true'
                artifact_version: nightly.${{ needs.Prepare.outputs.date }}

    Release:
        runs-on: ubuntu-latest
        if: (github.event_name == 'schedule') || (github.event_name == 'workflow_dispatch')
        needs: 
            - Prepare
            - Build
        steps:
            - uses: actions/checkout@v4
            
            - name: Download existing artifacts
              uses: dawidd6/action-download-artifact@v6
              with:
                github_token: ${{ secrets.GITHUB_TOKEN }}
                skip_unpack: true
                path: ./assets
  
            - name: Debug environment
              run: |
                ls -laR ./assets

            - name: Upload release assets
              run: |
                DESC=""
                gh release create "${{ needs.Prepare.outputs.date }}" $DESC ./assets/*
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}